html,
/* Reset default margin and padding for the body element */
body {
  margin: 0;
  padding: 0;
  /* Set background properties to make the image cover the entire viewport */
  background-image: url('/bg.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* Set background-attachment to fixed if you want the image to remain fixed while scrolling */
  /* background-attachment: fixed; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
